# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/Front-End
/frontEnd
/.vscode
/client/build2


# testing


# production
# /client/build

# misc



.env


npm-debug.log*
yarn-debug.log*
yarn-error.log*